<!-- Yandex Maps Template -->

<script src="https://api-maps.yandex.ru/2.1/?lang=uz_UZ{% if yandex_maps_apikey %}&apikey={{ yandex_maps_apikey }}{% endif %}" type="text/javascript"></script>
<script>
    ymaps.ready(function () {
        var myMap = new ymaps.Map('mainMap', {
            center: [40.533555, 70.930423],
            zoom: 11,
            controls: ['zoomControl', 'searchControl', 'fullscreenControl']
        });

        var allCoords = [];

        // Agentlar
        {% for m in agent_markers %}
        myMap.geoObjects.add(new ymaps.Placemark([{{ m.lat }}, {{ m.lng }}], {
            balloonContent: '<b>' + {{ m.name | tojson }} + '</b><br><small>Agent | {{ m.time }}</small>',
            iconCaption: {{ m.name | tojson }}
        }, {
            preset: 'islands#blueCircleDotIcon'
        }));
        allCoords.push([{{ m.lat }}, {{ m.lng }}]);
        {% endfor %}

        // Haydovchilar
        {% for m in driver_markers %}
        myMap.geoObjects.add(new ymaps.Placemark([{{ m.lat }}, {{ m.lng }}], {
            balloonContent: '<b>' + {{ m.name | tojson }} + '</b><br><small>Haydovchi | {{ m.vehicle }} | {{ m.time }}</small>',
            iconCaption: {{ m.name | tojson }}
        }, {
            preset: 'islands#darkGreenCircleDotIcon'
        }));
        allCoords.push([{{ m.lat }}, {{ m.lng }}]);
        {% endfor %}

        // Mijozlar
        {% for m in partner_markers %}
        myMap.geoObjects.add(new ymaps.Placemark([{{ m.lat }}, {{ m.lng }}], {
            balloonContent: '<b>' + {{ m.name | tojson }} + '</b><br><small>{{ m.address or "" }}</small>'
        }, {
            preset: 'islands#circleIcon',
            iconColor: '#198754'
        }));
        allCoords.push([{{ m.lat }}, {{ m.lng }}]);
        {% endfor %}

        // Xaritani markerlar bo'yicha fit qilish
        if (allCoords.length > 0) {
            setTimeout(function () {
                var bounds = myMap.geoObjects.getBounds();
                if (bounds) {
                    myMap.setBounds(bounds, { checkZoomRange: true, zoomMargin: 50 });
                }
            }, 500);
        }
    });
</script>
